[Desktop Entry]
Categories=Utility;Security;Qt;
Comment=Community-driven port of the Windows application “KeePass Password Safe”
Exec=flatpak run org.keepassxc.KeePassXC
GenericName[pt_BR]=Gerenciador de Senhas
GenericName=Password Manager
Icon=org.keepassxc.KeePassXC
MimeType=application/x-keepass2;
Name=org.keepassxc.KeePassXC
SingleMainWindow=true
StartupNotify=true
StartupWMClass=keepassxc
Terminal=false
Type=Application
Version=1.5
X-Flatpak=org.keepassxc.KeePassXC
X-GNOME-SingleWindow=true
