[Desktop Entry]
Categories=Utility;GTK;
Comment[pt_BR]=Logitech Unifying Receiver peripherals manager
Comment=Logitech Unifying Receiver peripherals manager
Exec=solaar -w hide
GenericName[pt_BR]=
GenericName=
Icon=solaar
Keywords=logitech;unifying;receiver;mouse;keyboard;
MimeType=
Name[pt_BR]=Solaar
Name=Solaar
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-GNOME-UsesNotifications=true
X-KDE-SubstituteUID=false
X-KDE-Username=
