[Desktop Entry]
Categories=Game;
Comment=A free-to-win rhythm game. Rhythm is just a *click* away!
Exec=gamemoderun /usr/bin/flatpak run --branch=stable --arch=x86_64 --command=start-osu --file-forwarding sh.ppy.osu @@ %F @@
Icon=sh.ppy.osu
MimeType=application/x-osu-beatmap;application/x-osu-beatmap-archive;application/x-osu-skin-archive;application/x-osu-storyboard;application/x-osu-replay;application/zip;x-scheme-handler/osu
Name=osu!
StartupNotify=true
StartupWMClass=osu!
Terminal=false
Type=Application
Version=1.4
X-AppImage-Version=2024.412.1
X-Desktop-File-Install-Version=0.27
X-Flatpak=sh.ppy.osu
X-Flatpak-RenamedFrom=osu!.desktop;
X-SingleMainWindow=true
PrefersNonDefaultGPU=true
